<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../styles/app_common.css" />
</head>
<body>

<a href="#" class="app-quick-link-item">카톡<br class="md-hidden">상담</a>
<a href="#" class="app-quick-link-item">기부<br class="md-hidden">하기</a>
<a href="#" class="app-quick-link-item">회보<br class="md-hidden">신청</a>
<a href="#" class="app-quick-link-item">아너<br class="md-hidden">소사이어티</a>

</body>
</html>
