<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../styles/app_common.css" />
</head>
<body>

<div class="header-util-bar">
  <div class="right-block">
    <a class="menu-item" href="#"><span class="text">나의 기부내역</span></a>
    <a class="menu-item" href="#"><span class="text">기부상담</span></a>
    <a class="menu-item" href="#"><span class="text">배분신청</span></a>
    <a class="menu-item faq" href="#"><span class="text">FAQ</span></a>
    <div class="dropdown-wrap lang-wrap">
      <a class="menu-item dropdown lang">
        <span class="text">KR</span>
        <svg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 5L0 6.72981e-07L8 0L4 5Z" fill="#33363D"/>
        </svg>
      </a>
      <ul class="lang-popover">
        <li data-value="KR"><a href="#">한국어</a></li>
        <li data-value="EN"><a href="#">English</a></li>
        <li data-value="CN"><a href="#">中文</a></li>
        <li data-value="JP"><a href="#">日本語</a></li>
      </ul>
    </div>
    <div class="dropdown-wrap branch-wrap">
      <a class="menu-item dropdown branch">
        <span class="text">중앙회</span>
        <svg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4 5L0 6.72981e-07L8 0L4 5Z" fill="#33363D"/>
        </svg>
      </a>
      <ul class="branch-popover">
        <li data-value="중앙회"><a href="#">중앙회</a></li>
        <li data-value="서울 모금회"><a href="#">서울 모금회</a></li>
        <li data-value="부산 모금회"><a href="#">부산 모금회</a></li>
        <li data-value="대구 모금회"><a href="#">대구 모금회</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="gnb-bar">
  <a class="logo-wrap" href="./00_home.html">
    <img src="img/logo_default.svg">
  </a>
  <div class="gnb-menu-wrap">
    <div class="gnb-inner-menu-bar">
      <div class="gnb-menu-item-wrap">
        <a href="#" class="gnb-menu-item">캠페인</a>
        <div class="gnb-menu-sub-wrap" id="gnb-sub-1">
          <div class="gnb-submenu-inner">
            <a class="gnb-submenu-banner" href="#">
              <span class="gnb-banner-title-block">
                <span class="gnb-banner-title-big">나를 위한 기부</span>
                <span class="gnb-banner-title-small">당신의 나눔이 모두의<br>행복입니다.</span>
              </span>
              <span class="gnb-banner-link-block">
                <span class="gnb-banner-link-text">기부하기</span>
                <span class="gnb-banner-link-bullet">
                  <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.799988 8.80005L4.79999 4.80005L0.799988 0.800049" stroke="white" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>

                </span>
              </span>
            </a>
            <div class="gnb-submenu-item-wrap">
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
          </div>
         </div>
        </div>
      </div>
      <div class="gnb-menu-item-wrap">
        <a href="#" class="gnb-menu-item">기부</a>
        <div class="gnb-menu-sub-wrap" id="gnb-sub-2">
          <div class="gnb-submenu-inner">
            <a class="gnb-submenu-banner" href="#">
              <span class="gnb-banner-title-block">
                <span class="gnb-banner-title-big">나를 위한 기부</span>
                <span class="gnb-banner-title-small">당신의 나눔이 모두의<br>행복입니다.</span>
              </span>
              <span class="gnb-banner-link-block">
                <span class="gnb-banner-link-text">기부하기</span>
                <span class="gnb-banner-link-bullet">
                  <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.799988 8.80005L4.79999 4.80005L0.799988 0.800049" stroke="white" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>

                </span>
              </span>
            </a>
            <div class="gnb-submenu-item-wrap">
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
          </div>
         </div>
        </div>
      </div>
      <div class="gnb-menu-item-wrap">
        <a href="#" class="gnb-menu-item">나눔문화 활성화</a>
        <div class="gnb-menu-sub-wrap" id="gnb-sub-3">
          <div class="gnb-submenu-inner">
            <a class="gnb-submenu-banner" href="#">
              <span class="gnb-banner-title-block">
                <span class="gnb-banner-title-big">나를 위한 기부</span>
                <span class="gnb-banner-title-small">당신의 나눔이 모두의<br>행복입니다.</span>
              </span>
              <span class="gnb-banner-link-block">
                <span class="gnb-banner-link-text">기부하기</span>
                <span class="gnb-banner-link-bullet">
                  <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.799988 8.80005L4.79999 4.80005L0.799988 0.800049" stroke="white" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>

                </span>
              </span>
            </a>
            <div class="gnb-submenu-item-wrap">
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
          </div>
         </div>
        </div>
      </div>
      <div class="gnb-menu-item-wrap">
        <a href="#" class="gnb-menu-item">사랑의 열매</a>
        <div class="gnb-menu-sub-wrap" id="gnb-sub-4">
          <div class="gnb-submenu-inner">
            <a class="gnb-submenu-banner" href="#">
              <span class="gnb-banner-title-block">
                <span class="gnb-banner-title-big">나를 위한 기부</span>
                <span class="gnb-banner-title-small">당신의 나눔이 모두의<br>행복입니다.</span>
              </span>
              <span class="gnb-banner-link-block">
                <span class="gnb-banner-link-text">기부하기</span>
                <span class="gnb-banner-link-bullet">
                  <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.799988 8.80005L4.79999 4.80005L0.799988 0.800049" stroke="white" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>

                </span>
              </span>
            </a>
            <div class="gnb-submenu-item-wrap">
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
              <a href="#" class="gnb-submenu-item">
                <span class="gnb-submenu-text">서브메뉴명</span><span class="gnb-submenu-icon"></span>
              </a>
          </div>
         </div>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-gnb-burger">
    <div class="line-wrap">
      <span class="line line-1"></span>
      <span class="line line-2"></span>
      <span class="line line-3"></span>
    </div>
  </div>
</div>

</body>
</html>
