<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../styles/app_common.css" />
  <link rel="stylesheet" href="../styles/components.css" />
</head>
<body>

<div class="modal-wrap mo-full" data-lenis-prevent>
  <button class="btn-modal-close">
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M2 2L14 14M14 2L2 14" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </button>
    <div class="modal-inner" >
      <div class="modal-title-wrap">
        <h3 class="title">기부상담신청</h3>
        <span class="desc">기부상담을 위해 상담받으실 분 성함과 연락처를 남겨주시면 빠른시간안에 연락드리도록 하겠습니다.</span>
      </div>
      <div class="form-comment">
          <span class="carrot">* </span>은 필수입력사항입니다.
        </div>
      <div class="modal-form-wrap col-2">
        <div class="input-item-wrap">
          <span class="item-label">
            <label for="branch" class="label">상담지역</label>
          </span>
          <div class="input-row">
            <select id="branch">
              <option value="중앙회" selected>중앙회</option>
              <option value="서울 중앙회">서울 중앙회</option>
              <option value="서울 중앙회">서울 중앙회</option>
              <option value="서울 중앙회">서울 중앙회</option>
              <option value="서울 중앙회">서울 중앙회</option>
              <option value="서울 중앙회">서울 중앙회</option>
              <option value="서울 중앙회">서울 중앙회</option>
              <option value="서울 중앙회">서울 중앙회</option>
            </select>
          </div>
        </div>
        <div class="input-item-wrap">
          <span class="item-label required">
            <label for="applicant-phone" class="label">성명</label>
          </span>
          <div class="input-row">
            <input type="text" id="applicant-phone" name="applicant-phone" placeholder="">
          </div>
        </div>
        
        <div class="input-item-wrap">
          <span class="item-label required">
            <label for="applicant-mail" class="label">휴대폰</label>
          </span>
          <div class="input-row">
            <input type="text" id="tel-num-1">
            <span>-</span>
            <input type="text" id="tel-num-2">
            <span>-</span>
            <input type="text" id="tel-num-3">
            <button class="btn-basic stroke lg">
              <span class="label">인증</span>
            </button>
          </div>
          <span class="item-message">
            *NICE 평가정보에서 인증 받은 휴대폰 번호를 사용하고 있습니다.<br>
            *본인인증시 반복적으로 오류가 발생하면 NICE기술지원(1600-1522)로 전화부탁드립니다. 
          </span>
        </div>

        <div class="input-item-wrap">
          <span class="item-label required">
            <label for="applicant-mail" class="label">이메일</label>
          </span>
          <div class="input-row">
            <input type="text" id="mail-1">
            <span>@</span>
            <input type="text" id="mail-2">
            <select id="mail-3">
              <option value="중앙회" selected>직접입력</option>
              <option value="서울 중앙회">naver.com</option>
              <option value="서울 중앙회">gmail.com</option>
            </select>
          </div>
        </div>

        <div class="input-item-wrap span-2">
          <span class="item-label">
            <label for="project-necessary" class="label">상담신청내용</label>
          </span>
          <div class="input-row">
            <textarea name="project-necessary" id="project-necessary" placeholder="상담을 원하시는 내용을 입력해 주세요(500자 이내)" maxlength="500" style="resize:none; height: 200px;"></textarea>
          </div>
        </div>
      </div>

      <div class="checkbox-item">
        <label class="checkbox">
          <input type="checkbox" id="agree-privacy" name="agree-privacy" />
          <span class="checkbox-box">
            <svg class="icon-check" width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 4.5L4.2 7.5L11 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </span>
          <span class="checkbox-label">개인정보 수집 및 이용에 동의합니다.</span>
        </label>
      </div>
        <ul class="personal-data-wrap">
          <li>
            <span class="data-item">수집하는 곳</span>
            <span class="data-value">사회복지공동모금회</span>
          </li>
          <li>
            <span class="data-item">항목</span>
            <span class="data-value">성명, 핸드폰번호, 이메일주소</span>
          </li>
          <li>
            <span class="data-item">수집‧이용 목적</span>
            <span class="data-value">
              모금회에서 처리하는 상담관련 업무<br>
              (기부신청, 기부내역확인, 확인서 발급, 기부자서비스)
            </span>
          </li>
          <li>
            <span class="data-item">보유기간</span>
            <span class="data-value">마지막 상담 시점 이후 1년</span>
          </li>
        </ul>
        <div class="personal-data-message">위의 개인정보 수집‧이용에 대한 동의를 거부할 권리가 있습니다. 그러나 동의를 거부할 경우 기부상담관련 업무에 제한을 받을 수 있습니다. </div>

        <div class="action-bar">
          <button class="btn-basic stroke xs">
            <span class="label">개인정보처리방침</span></button>
        </div>
          
        <div class="form-submit-btn-wrap">
          <button class="btn lg">상담신청</button>
        </div>

    </div>
  </div>

</body>
</html>
