@import "../fonts/pretendard_gov/pretendard-gov-dynamic-subset.css";
@import "./normalize.css";

:root {
  --color-gray-25: #fafafa;
  --color-gray-50: #f4f5f6;
  --color-gray-75: #f0f1f2;
  --color-gray-100: #e6e8ea;
  --color-gray-125: #dee2e5;
  --color-gray-150: #d9dde0;
  --color-gray-200: #cdd1d5;
  --color-gray-300: #b2b8be;
  --color-gray-400: #8a949e;
  --color-gray-500: #6d7882;
  --color-gray-600: #58616a;
  --color-gray-700: #464c53;
  --color-gray-800: #33363d;
  --color-gray-900: #1e2124;
  --color-gray-950: #131416;
}

body {
  font-family: "Pretendard GOV", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.section {
  position: relative;
  width: 100%;
  > .dummy-full-img {
    width: 100%;
    max-width: 1520px;
    position: relative;
    margin: 0 auto;
  }
}

/*------------------------------*/
/* Mock up setting -------------*/

.mockup-body {
  width: 100%;
  background-color: #dbe0e3;
}
.tablet-sample,
.mobile-sample {
  width: 100%;
  background-color: #dbe0e3;
}
.mobile-back {
  position: absolute;
  width: 422px;
  height: 814px;
  margin: auto;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  background-image: url(/img/iphone_frame_light_gray.png);
  background-size: 424px 814px;
  background-repeat: no-repeat;

  .screen-wrap {
    width: 376px;
    height: 780px;
    border: none;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    width: 376px;
    height: 780px;
    top: 17px;
    left: 24px;
    border-radius: 43px;
  }
}

.mo-page {
  -ms-overflow-style: none;
  padding: 0;
  margin: 0;
  overflow: auto;
}

.mo-page::-webkit-scrollbar {
  width: 0px;
  display: none;
}

.mo-page::-webkit-scrollbar-track {
  display: none;
}

.mo-page::-webkit-scrollbar-thumb {
  display: none;
  background: rgb(0, 0, 0);
}

.mo-page.white {
  background-color: #fff;
}
.dummy-full {
  width: 100%;
}
.mo-wrap {
  position: relative;
  width: 100%;
  padding-top: 40px;
}

/* index page > Draft List -------------*/

.draft-index-body {
  width: 100%;
  background-color: rgb(239, 243, 245);
  overflow-x: hidden;
}

.draft-index-page-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  > .index-container {
    width: 100%;
    max-width: 1200px;
    padding: 100px 40px;
    > .head-wrap {
      width: 100%;
      padding-bottom: 40px;
      > h1 {
        font-size: 2.5vw;
      }
    }

    > .draft-block {
      width: 100%;
      border-top: 1px solid #c9cdcf;
      margin-bottom: 40px;
      > .title-wrap {
        width: 100%;
        padding: 16px 0 0 0;
        > h2 {
          font-size: 28px;
          margin: 12px 0;
        }
        > .title-info-block {
          > li {
            padding: 4px 0;
          }
        }
      }
      > .links-wrap {
        width: 100%;
        display: flex;
        gap: 16px;
        padding: 20px 0;
        > .link-item {
          width: 50%;
          padding: 28px;
          text-align: center;
          display: flex;
          flex-direction: column;
          border: 1px solid rgb(197, 199, 202);
          background-color: white;
          border-radius: 12px;
          color: var(--color-gray-900);
          transition: filter 0.25s;
          max-height: 150px;
          > h4 {
            font-size: 22px;
            width: 100%;
            padding: 0;
            margin: 12px 0 8px 0;
          }
          > p {
            font-size: 18px;
            font-weight: 500;
            padding: 0;
            margin: 8px 0 12px 0;
          }
          &:hover {
            filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.1));
          }
          &.blank {
            background-color: transparent;
            pointer-events: none;
          }
        }
      }
    }
  }
}
