.btn-page-head {
  display: inline-flex;
  padding: 8px 14px;
  background-color: rgba(0, 0, 0, 0.06);
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  color: var(--color-text-400);
  font-weight: 700;
  font-size: 14px; border: 1px solid rgba(0,0,0,0);
  transition: all 0.15s ease;
  &.active {
    background-color: var(--color-primary-400);
    color: white;
    pointer-events: none;
  }
  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid var(--color-line-200);
  }
}

@media (min-width: 1200px) {
  .btn-page-head {
    padding: 16px 32px;
    font-size: 20px;
  }
}

/*---------------------------*/
/* Button */
/*---------------------------*/
.btn {
  display: inline-flex; padding: 8px 16px; justify-content:center;
  align-items:center;
  background-color: var(--color-primary-400);
  border: none; border-radius: 40px; flex-shrink:0;
  &.only-icon {
    aspect-ratio: 1/1; padding: 12px;
  }
  &.lg{ padding: 16px 24px; font-size: 18px; font-weight: 800; }
}
.btn-basic {
  display: inline-flex;
  padding: 12px 12px;
  background-color: var(--color-solid-100);
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  color: var(--color-text-500);
  font-weight: 700;
  font-size: 15px;
  transition: background-color 0.15s ease;
  border: none;
  cursor: pointer;
  cursor: pointer;
  > .label {
    display: inline-block;
    padding: 0 4px;
  }
  &.dark {
    background-color: var(--color-solid-800);
    color: white;
    &:hover {
      background-color: var(--color-solid-900);
    }
  }
  &:hover {
    background-color: var(--color-solid-300);
  }
}

.btn-back-to-list {
  display: inline-flex;
  padding: 8px 12px;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  color: var(--color-text-500);
  font-weight: 700;
  font-size: 14px;
  transition: background-color 0.15s ease;
  border: none;
  cursor: pointer;
  > .icon-back {
    margin-right: 8px;
  }
  > .label {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-text-700);
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.06);
  }
}
.btn-back-to-list-bar {
  width: 100%;
  position: relative;
  padding: 40px 0;
}
/*---------------------------*/
/* Swiper */
/*---------------------------*/

.swiper-control-basic {
  position: absolute;
  bottom: 0;
  z-index: 50;
  display: flex;
  align-items: center !important;
  justify-content: center;
  gap: 4px;
  width: 492px;
  right: 0px;
  > .swiper-pagination {
    width: 100%;
    height: 8px;
    position: relative !important;
    display: flex;
    gap: 6px !important;
    opacity: 1 !important;
    bottom: auto;
    top: auto;
    padding-right: 24px;
    > .swiper-pagination-bullet {
      display: block;
      width: 8px;
      height: 8px;
      background-color: rgba(0, 0, 0, 0.2) !important;
      border-radius: 4px;
      left: 0;
      opacity: 1 !important;
      margin: 0 !important;
      &.swiper-pagination-bullet-active {
        width: 32px;
        background-color: var(--color-solid-700) !important;
      }
    }
  }
  > .nav-group {
    display: flex;
    gap: 0;
    height: 40px;
    background-color: white;
    border: 1px solid var(--color-line-300);
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    padding: 0 4px;
    cursor: pointer;
    > .nav-prev,
    > .nav-next {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: transparent;
      border: none;
    }
  }
  > .swiper-btn-pause {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-line-300);
    flex-shrink: 0;
    cursor: pointer;
    > .icon-pause {
      width: 16px;
      height: 16px;
    }
  }
  &.relative {
    position: relative;
    bottom: auto;
    right: auto;
    width: auto;
    > .swiper-pagination {
      width: auto;
    }
  }
}

.carousel-card-row {
  width: 100%;
  > .swiper-wrapper {
    > .card-item {
      width: auto;
      height: auto;
    }
  }
}

.btn-redball {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--color-primary-400);
  color: white;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.15s ease;
  cursor: pointer;
  &:hover {
    background-color: white;
    color: var(--color-text-700);
    border: 1px solid var(--color-line-400);
  }
}

@media (min-width: 1200px) {
  .btn-redball {
    width: 180px;
    height: 180px;
    font-size: 24px;
  }
}

/*---------------------------*/
/* Cards */
/*---------------------------*/

.card-full-image {
  width: 100%;
  height: 100%;
  line-height: 0;
  cursor: pointer;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  > .back-img-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(0.95);
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0.6) 80%
      );
      transition: all 0.3s ease;
    }
  }
  &.story-card {
    aspect-ratio: 4/5;
  }
  > .card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px;
    > .card-title {
      font-size: 18px;
      font-weight: 700;
      color: white;
      line-height: 1.3em;
    }
    > .card-subtitle {
      font-size: 14px;
      font-weight: 500;
      color: white;
      line-height: 1.3em;
    }
  }
  &:hover {
    > .back-img-wrap {
      > img {
        transform: scale(1.05);
        filter: brightness(0.8);
        transition: all 0.3s ease;
      }
    }
  }
}

@media (min-width: 1200px) {
  .card-full-image {
    > .card-content {
      padding: 32px;
      > .card-title {
        font-size: 28px;
      }
      > .card-subtitle {
        font-size: 18px;
      }
    }
  }
}

/*---------------------------*/
/* Pagination */
/*---------------------------*/
.pagination-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  > .pagination-wrap {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
}

.pagination-num-group,
.pagination-ctrl-group {
  display: flex;
  align-items: center;
}

.pagination-num-cell {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-text-700);
  cursor: pointer;
  background: transparent;
  border: none;
  transition: background-color 0.15s ease;

  &.active {
    background-color: var(--color-primary-400);
    color: white;
    pointer-events: none;
  }

  &.ellipsis {
    cursor: default;
    pointer-events: none;
  }

  &:not(.active):not(.ellipsis):hover {
    background-color: rgba(0, 0, 0, 0.06);
  }
}

.pagination-ctrl {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid transparent;
  background: transparent;
  /* color: var(--color-text-700); */
  transition:
    background-color 0.15s ease,
    color 0.15s ease,
    border-color 0.15s ease;

  > svg {
    display: block;
  }

  &:hover {
    background-color: var(--color-primary-400);
    > svg {
      > path {
        stroke: white;
      }
    }
  }

  &:focus-visible {
    background-color: #f5f5f5;
    border-color: var(--color-text-700);
    outline: none;
  }
}

/*---------------------------*/
/* Tags */
/*---------------------------*/

.tags-row{
  width:100%; position:relative; display:flex; gap:4px;
  align-items:center;
  &.center{
    justify-content:center;
  }
}
.tag{
  display:inline-block; font-size: 14px; padding: 10px 12px; border-radius: 20px;
  flex-shrink:0; flex-grow:0; color: var(--color-text-400);
  font-weight:700; border: 1px solid var(--color-line-200);
  background:rgba(255,255,255,0);
  &.teal{
    background: var(--color-teal-50);
    border: 1px solid var(--color-teal-400);
    color: var(--color-teal-600);
  }
  &.rose{
    background: var(--color-rose-50);
    border: 1px solid var(--color-rose-400);
    color: var(--color-rose-600);
  }
  &.purple{
    background: var(--color-purple-50);
    border: 1px solid var(--color-purple-400);
    color: var(--color-purple-600);
  }
  &.green{
    background: var(--color-green-50);
    border: 1px solid var(--color-green-400);
    color: var(--color-green-600);
  }
  &.cyan{
    background: var(--color-cyan-50);
    border: 1px solid var(--color-cyan-400);
    color: var(--color-cyan-600);
  }
  &.lime{
    background: var(--color-lime-50);
    border: 1px solid var(--color-lime-400);
    color: var(--color-lime-600);
  }
  &.active{
    background: var(--color-solid-900) !important; color:white !important;
    border: transparent !important;
  }
}
.tags-wrap {
  display:flex; flex-direction:column; margin-bottom: 40px; gap: 12px;
}
/*---------------------------*/
/* Card project */
/*---------------------------*/

.card-project {
  width:100%; display:flex; flex-direction: column;
  padding-bottom: 16px;
  >.thumbnail-wrap{
    width:100%; aspect-ratio: 16/10; background:gray;
    position: relative; overflow:hidden; border-radius:16px;
    >.thumbnail-image {
      width:100%; height:100%; object-fit:cover; object-align:center;
    }
    >.day-tag{
      padding: 8px 12px; font-size:16px; font-weight: 900;
      color:var(--color-primary-500); background:white; border-radius:30px;
      position: absolute; top: 12px; left: 12px;
    }
  }
  >.card-content{
    width:100%; display:flex; flex-direction:column; padding: 0 16px;
    >.card-title{
      font-size: 28px; word-break:all; margin-top: 20px;
    }
    >.card-subinfo {
      width:100%; display: block; font-size:16px; margin-top: 8px;
    }
    >.progress-wrap{
      width:100%; display:flex; flex-direction:column;
      gap: 6px;
      padding-top: 16px;
      >.progress-num {
        font-size: 20px; font-weight:800;
        color:var(--color-primary-500); text-align:right;
      }
      >.progress-bar{
        display:block; width:100%; height:12px; border-radius:8px;
        overflow:hidden; background-color: var(--color-solid-200);
        position: relative;
        >.progress-marker{
          display: block; position: absolute; left:0; top:0; height:100%;
          background-color: var(--color-primary-400);
        }
      }
      >.funding-num-row{
        width:100%; display: flex; justify-content: space-between;
        font-size: 15px; font-weight: 700; color: var(--color-text-300);
        >.funding-current {
          color: var(--color-text-500);
        }
      }
    }
  }
}
